:root {
  --color-primary-500: #D81E5B;
  --color-background: #9393df;
  --color-background-secondary: #1A1A2E;
  --color-text: #FFFFFF;
  --color-text-secondary: #94A3B8;
  --color-border: #2D2D3B;
}

:root.light {
  --color-primary-500: #D81E5B;
  --color-background: #FFFFFF;
  --color-background-secondary: #F1F5F9;
  --color-text: #1E293B;
  --color-text-secondary: #64748B;
  --color-border: #E2E8F0;
} 