---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light text-text">
      <p>
        Hi, I'm David, a software engineer from Canary Islands, Spain.       </p>
        <br />
        <p>
        <b>My tech stack</b> includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Typescript (React, Angular)</li>
        <li>Python (Django, Flask)</li>
        <li>Cloud Dev. (GCP)</li>
        <li>ML/AI</li>
        <li>Langchain</li>
        <li>PHP</li>
        <li>(*) learning Rust...</li>
      </ul>
    </div>
    <p class="text-sm font-light text-text">
      Beyond coding, I really like topics like the economics, business, entrepreneurship, how and how the system works and how the big pieces relate to each other.
    </p>
    <p class="text-sm font-light text-text">
      Another hobby of mine is playing chess, poker, they're interesting strategy games for me, I also really big like the e-sports scene. 
    </p>
  </div>
</Card>
