---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-baseline mb-2">
    <div class="flex flex-row gap-4">
      <h2 class="text-text">Now</h2>
    </div>
    <Pulse />
  </div>
  <p class="text-xs text-text">Currently working as <br>
    <b>Software Engineering Analyst</b> in <br>
    <a href="https://lynxtech.com/" class="text-primary-500" target="_blank">
      Lynx Tech
    </a>
  </p>
</Card>
