---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";
---

<Button aria-label="theme toggle" className="{theme-toggle">
  <Icon name="ri:sun-line" class="h-6 sun-icon" />
  <Icon name="ri:moon-line" class="h-6 moon-icon" />
</Button>

<script>
  const themeToggle = document.querySelector('.theme-toggle');
  
  themeToggle?.addEventListener('click', () => {
    document.documentElement.classList.toggle('light');
    const theme = document.documentElement.classList.contains('light') ? 'light' : 'dark';
    localStorage.setItem('theme', theme);
  });

  // Check for saved theme preference
  const savedTheme = localStorage.getItem('theme') || 'dark';
  if (savedTheme === 'light') {
    document.documentElement.classList.add('light');
  }
</script>

<style>
  .light .sun-icon {
    display: none;
  }
  .light .moon-icon {
    display: block;
  }
  .sun-icon {
    display: block;
  }
  .moon-icon {
    display: none;
  }
</style> 